# Generated configuration for profile: dev
# Generated at: Thu Jun 12 16:00:28 WEST 2025

MACHINE_PROFILE="dev"
HOMEBREW_FORMULAS="git gh jq curl wget tree bat fd ripgrep htop mas rbenv ruby-build python python-tk swiftlint swiftformat carthage cocoapods fastlane xcbeautify docker docker-compose kubernetes-cli terraform ansible awscli"
HOMEBREW_CASKS="sf-symbols proxyman charles visual-studio-code sublime-text sourcetree postman cursor google-chrome slack zoom whatsapp telegram bitwarden spotify iina betterzip openaudible setapp chatgpt"
MAS_APPS="472226235 904280696"
ENABLE_POWERLINE="true"
THEME="Highway"
GIT_USER_NAME="JARMourato"
GIT_USER_EMAIL="joao.armourato@gmail.com"
CLEANUP_APPS="GarageBand.app iMovie.app Keynote.app Numbers.app Pages.app"
# User Defaults Configuration (parsed from YAML)

ACTIVITY_MONITOR_OPEN_MAIN_WINDOW="true"
ACTIVITY_MONITOR_SHOW_ALL_PROCESSES="true"
ACTIVITY_MONITOR_SORT_BY_CPU="true"
APP_STORE_CHECK_UPDATES_DAILY="true"
DOCK_AUTOHIDE="false"
DOCK_TILE_SIZE="40"
DOCK_LARGE_SIZE="64"
DOCK_MAGNIFICATION="true"
DOCK_MINIMIZE_TO_APPLICATION="true"
DOCK_SHOW_PROCESS_INDICATORS="true"
DOCK_ORIENTATION="bottom"
DOCK_DISABLE_RECENT_APPS="true"
DOCK_DISABLE_REARRANGE_SPACES="true"
FINDER_NEW_WINDOW_TARGET="home"
FINDER_SHOW_EXTERNAL_DRIVES="true"
FINDER_SHOW_HARD_DRIVES="true"
FINDER_SHOW_SERVERS="true"
FINDER_SHOW_REMOVABLE_MEDIA="true"
FINDER_SHOW_HIDDEN_FILES="false"
FINDER_SHOW_STATUS_BAR="true"
FINDER_SHOW_PATH_BAR="true"
FINDER_SHOW_POSIX_PATH_TITLE="true"
FINDER_SORT_FOLDERS_FIRST="true"
FINDER_SEARCH_CURRENT_FOLDER="true"
FINDER_SNAP_TO_GRID="true"
FINDER_PREFERRED_VIEW="column"
FINDER_EMPTY_TRASH_SECURELY="true"
FINDER_EXPAND_INFO_PANES="true"
KEYBOARD_DISABLE_AUTO_CAPITALIZATION="true"
KEYBOARD_DISABLE_SMART_DASHES="true"
KEYBOARD_DISABLE_PERIOD_SUBSTITUTION="true"
KEYBOARD_DISABLE_SMART_QUOTES="true"
KEYBOARD_DISABLE_AUTO_CORRECT="true"
KEYBOARD_DISABLE_TEXT_COMPLETION="true"
KEYBOARD_KEY_REPEAT_RATE="2"
KEYBOARD_INITIAL_KEY_REPEAT="35"
KEYBOARD_DISABLE_PRESS_AND_HOLD="true"
KEYBOARD_ENABLE_TAB_NAVIGATION="true"
LANGUAGE_LANGUAGES="en-US  pt-PT"
LANGUAGE_LOCALE="en_US@currency=EUR"
LANGUAGE_MEASUREMENT_UNITS="Centimeters"
LANGUAGE_METRIC_UNITS="true"
LANGUAGE_TEMPERATURE_UNIT="Celsius"
LANGUAGE_HIDE_LANGUAGE_MENU="true"
MOUSE_TRACKING_SPEED="2.5"
MOUSE_DOUBLE_CLICK_THRESHOLD="0.2"
MOUSE_SCROLL_SPEED="1"
TRACKPAD_TAP_TO_CLICK="true"
TRACKPAD_SILENT_CLICKING="true"
TRACKPAD_HAPTIC_FEEDBACK="0"
TRACKPAD_TRACKING_SPEED="2.5"
TRACKPAD_DISABLE_SWIPE_NAVIGATION="true"
POWER_SLEEP_ON_POWER="0"
POWER_SLEEP_ON_BATTERY="10"
POWER_DISABLE_PROXIMITY_WAKE="true"
POWER_DISABLE_POWER_NAP="true"
POWER_REQUIRE_PASSWORD_IMMEDIATELY="true"
SCREEN_FONT_SMOOTHING="1"
SCREEN_ENABLE_HIDPI="true"
SCREEN_SCREENSHOT_LOCATION="~/Pictures/Screenshots"
SCREEN_SCREENSHOT_FORMAT="png"
SCREEN_DISABLE_SCREENSHOT_SHADOWS="false"
SCREEN_ENABLE_MORE_SPACE="true"
MENU_BAR_SHOW_FULL_DATE_TIME="true"
MENU_BAR_DATE_FORMAT="EEE MMM d  h:mm:ss a"
MENU_BAR_FLASH_DATE_SEPARATORS="true"
TERMINAL_SECURE_KEYBOARD_ENTRY="true"
TIME_MACHINE_DISABLE_NEW_DISK_PROMPT="true"
HOT_CORNERS_TOP_LEFT="4"
HOT_CORNERS_TOP_RIGHT="3"
HOT_CORNERS_BOTTOM_LEFT="0"
HOT_CORNERS_BOTTOM_RIGHT="2"
XCODE_TRIM_WHITESPACE="true"
XCODE_TRIM_WHITESPACE_ONLY_LINES="true"
XCODE_DISABLE_CASE_INDENT="true"
XCODE_INDENT_ON_PASTE="true"
XCODE_OVERSCROLL_AMOUNT="0.25"
XCODE_HIDE_AUTHORS_PANEL="true"
XCODE_HIDE_MINIMAP="true"
XCODE_SHOW_BUILD_STEPS="true"
XCODE_SHOW_ANALYZER_RESULTS="true"
XCODE_SHOW_ERRORS="true"
XCODE_SHOW_WARNINGS="true"
XCODE_COMMAND_CLICK_JUMPS="true"
XCODE_SHOW_INDEXING_PROGRESS="true"
XCODE_SHOW_BUILD_DURATION="true"
XCODE_INSTALL_CLAUDE_CLI="true"


# Profile setup completed
